*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(119, 119, 119);
    color: lightgray;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1%;

}
main{

}
section{
    padding: 500px;
    background-image: url("./../images/dndsheetexample.jfif");
    background-position: contain;
    background-size: cover;
}

footer{
    position: fixed;
    z-index: 1;
    bottom: 0px;
}


.dice { /* HTML symbols */
    font-size: 100px;
    font-weight: 800;
}
  
.dice::after {
    content:'';
    animation: rolling 6s linear infinite;
}
  
@keyframes rolling {
    0% {content:'\2680';}
    20% {content:'\2681';}
    40% {content:'\2682';}
    60% {content:'\2683';}
    80% {content:'\2684';}
    100% {content:'\2685';}
}